.pageGetMe{
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-top: -7%; 
}

.getMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 500px;
    background-color: #56CCF2;
    border: 1px solid #56CCF2;
    box-shadow: 20px 20px 50px 20px grey;
    border-radius: 5%;
    margin-top: 10%; 
    margin-bottom: 15%;
}
.h1getme{
    color: rgb(81, 81, 112);
     text-align: center;
      width: 300px; 
}

.getMe input {
    width: 300px;
    height: 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    margin: 5px;
    text-align: center;
}

.getMe button {
    width: 305px;
    height: 24px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    margin: 5px;
    text-align: center;
    background-color: rgb(81, 81, 112);
    color:  #56CCF2;
}