.header {
    display: flex;
    flex-direction: column;
    height: 109px;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 100;
    @media screen and (max-width:760px){
        height: 150px;
        position: fixed;
    }
}

.header1 {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    padding-bottom: 1%;
    box-shadow: 0px 15px 15px hsl(0, 1%, 74%);
    @media screen and (max-width:940px){
        height: 100px;
    }
    
}

.aloDocimg {
    width: 171px;
    height: 45px;
    margin-top: 3px;
    margin-left: 20%;
    @media screen and (max-width:1500px){
        margin-left: 5%;
    }
}

.vector {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 29px;
    margin-right: 16%;
    margin-top: 0.5%;
    gap: 1%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 390px;
    height: 15px;
    margin-top: 1%;
    margin-left: 12%;
    gap: 1%;
    @media screen and (max-width:960px){
        flex-direction:column;
        height: 25px;
        margin-right: 25%;
    }
}

.navigation1 {
    font-family: "Montserrat";
    font-size: 12px;
    height: 14.63px;
    text-align: center;
    color: #A0A0A0;
}

.navigations {
    display: block;
}

.navigationsCount {
    width: 18.28px;
    height: 18.28px;
    background-color: #FF9F28;
    color: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    margin-left: 65px;
}

.bell {
    margin-top: -6%;
    margin-left: 75px;
}

.avatar {
    font: "Montserrat";
    font-size: 24px;
    width: 37px;
    height: 37px;
    margin-left: 3%;
    color: #FFFFFF;
    background-color: #FF9F28;
    border-radius: 50%;
    text-align: center;
}

.acountName {
    width: 125px;
    height: 17px;
    font: "Montserrat";
    font-size: 14px;
    margin-top: 2ex;
    margin-left: 1.5%;
    color: #787878;
    font-style: bold;
    display: flex;
    flex-direction: row;
    @media screen and (max-width:940){
        flex-direction: column;
        justify-content: start;
        height: 25px;
    }
}

.vectorToUnder {
    width: 6px;
    height: 11px;  
    margin-left: 1%;
    color: #787878;
    margin-right: 25%;
}

.vectorToUnder button {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.selectBar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2px;
    text-align: start;
    width: 219px;
    height: 154px;
    border-radius: 5px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(120, 120, 120, 1);
    box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.1);
    @media screen and (max-width:940){

    }
}

.selectBar hr {
    color: rgba(201, 201, 201, 1);
    width: 219px;
}

.selectBar div {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 20px;
    font-family: "Montserrat";
    font-size: 14px;
    gap: 5px;
    padding-left: 21px;
    color: rgba(120, 120, 120, 1);
}